/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* carosuel */
.carousel {
  position: relative;
  overflow: hidden;
}

.carousel .carousel-images {
  display: flex;
  transition: 0.3s translate linear;
}

.item {
  width: 100%;
}

/* carousel nav */
.carousel .carousel-nav span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  background: rgba(100, 96, 96, 0.432);
  cursor: pointer;
  border-radius: 8px;
}

.carousel .carousel-nav span.prev {
  left: 4px;
}

.carousel .carousel-nav span.next {
  right: 4px;
}

/* carousel dots */
.carousel-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  translate: -50%;
  display: flex;
  gap: 10px;
}

.carousel-dots span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dots span:hover {
  background: rgb(238, 167, 36);
}

.carousel span.active {
  background: rgb(233, 60, 60);
}
