body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.contact {
  width: 56vw;
  padding: 10px 30px;
  background-color: #eee;
  margin: 100px auto;
  border-radius: 8px;
}

.contact__body {
  display: flex;
}

/* contact heading */

.contact__heading {
  font-size: 20px;
  position: relative;
  font-weight: 500;
}

.contact__heading::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 3px;
  background-color: #fec052;
  left: 0px;
  bottom: -12px;
}

/* contact info */
.contact__title {
  font-weight: 500;
}

.contact__item {
  display: flex;
  width: 300px;
  align-items: center;
  margin-top: -10px;
}

.contact__item--icon {
  color: #a7a7a7;
}

.contact__item--desc {
  color: #a7a7a7;
  margin-left: 12px;
}

/* contact form */
.form__heading {
  font-weight: 500;
}

.form__body {
  border-color: #e7e7e7;
  /* opacity: 0.5; */
}

.form__body--button {
  padding: 8px;
  width: 528px;
  border: 1px solid #a7a7a7;
  outline: none;
}

.form__body + .form__body {
  margin-top: 12px;
}

.form__body--text {
  padding: 8px;
  width: 528px;
  height: 70px;
  margin-top: 12px;
  opacity: 0.5;
}

.form__button {
  padding: 8px 14px;
  color: #fff;
  background-color: #35c4c2;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
}
