* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 80%;

  border: 1px solid red;
  font-size: 0;
}

.box .col {
  width: calc(100% / 3);
  display: inline-block;
  background-color: gray;
  font-size: initial;
  border: 1px solid #fff;
  padding: 20px;
}
