.title {
  color: purple;
}

.title:hover {
  color: initial;
}

.sub-title {
  color: rgba(200, 14, 22);
}

.text-1 {
  color: #28c432;
}

.text-2 {
  color: #28c43299;
}

.sub-title-2 {
  color: rgba(200, 14, 22, 0.5);
}

/* color transparent */
/* các giá trị mặc định trong tất cả thuộc tính css:
 initial => giá trị mặc định trình duyệt
 inherit => giá trị kế thừa element cha 
  */
