* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

/* .container {
    max-width: 90%;
    margin: 100px auto;
  } */

.player {
  max-width: 80%;
  margin: 30px auto;
}

.player .player-action {
  text-align: center;
}

.player .player-timer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.progress-bar {
  height: 10px;
  background: gray;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: rgb(219, 53, 53);
  border-radius: 10px;
}

.progress-bar .progress span {
  position: absolute;
  width: 12px;
  height: 12px;
  display: block;
  bottom: 0;
  right: 0;
  background: blueviolet;
  translate: 50% 1px;
  border-radius: 50%;
}
