/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

section {
  width: 1200px;
  height: 470px;
  margin: 50px auto;
  border: 1px solid #ccc;
  background: #ebf5fe;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  margin: 20px 100px;
  gap: 20px;
}

/* item */
.item {
  width: 316px;
  height: 204px;
  background: #fefefe;
  padding: 24px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px #ddd;
}

.item:hover {
  border: 2px solid #ec847c;
}

.item__header {
  display: flex;
  align-items: center;
}

.icon {
  text-align: center;
  background: #e46470;
  color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 2.2rem;
  line-height: 48px;
}

.item:nth-child(1) .icon {
  background: rgb(180, 58, 83);
  background: linear-gradient(
    90deg,
    rgba(175, 34, 34, 1) 2%,
    rgba(252, 176, 69, 1) 98%
  );
  box-shadow: 0px 0px 1px 1px rgb(197, 156, 156);
}

.item:nth-child(2) .icon {
  background: rgb(180, 58, 83);
  background: linear-gradient(
    90deg,
    rgba(34, 175, 79, 1) 2%,
    rgba(69, 252, 87, 1) 100%
  );
  box-shadow: 0px 0px 1px 1px rgb(126, 153, 123);
}

.item:nth-child(3) .icon {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgb(184, 195, 34) 0%,
    rgba(223, 221, 16, 1) 33%,
    rgba(241, 234, 4, 1) 65%
  );
  box-shadow: 0px 0px 1px 1px rgb(165, 179, 133);
}

.item:nth-child(4) .icon {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(16, 223, 196, 1) 33%,
    rgba(4, 140, 241, 1) 66%
  );
  box-shadow: 0px 0px 1px 1px rgb(121, 148, 153);
}

.item:nth-child(5) .icon {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(167, 4, 241, 1) 0%,
    rgba(127, 4, 241, 1) 86%
  );
  box-shadow: 0px 0px 1px 1px rgb(134, 108, 126);
}

.item:nth-child(6) .icon {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(4, 241, 83, 1) 0%,
    rgba(60, 241, 4, 1) 57%,
    rgba(140, 241, 4, 1) 65%
  );
  box-shadow: 0px 0px 1px 1px rgb(142, 163, 134);
}

h3 {
  width: 110px;
  margin-left: 14px;
  font-size: 1.7rem;
  line-height: 1.3;
}

p {
  margin-top: 14px;
  margin-right: 20px;
  color: #666;
  font-size: 1.3rem;
  line-height: 1.6;
}

a {
  display: inline-block;
  margin-top: 18px;
  font-weight: 700;
  font-size: 1.4rem;
  color: #2a64ea;
}
