/* 
display: block, inline, inline-block, none


- flex:
flexible box module: là kĩ thuật chia layout trong css
+ 2 thành phần: flex container - flex item ( phải có thẻ bọc và thẻ con)
+ để kích hoạt dùng flex ,inline -flex
+ các thuộc tính tỏng nhóm container:
=> display: flex, inline-flex
=> justify-content: căn chỉnh item theo hướng song song với trục chính
=> flex-direction: đièu chỉnh hướng của trục chính: row( mặc định) row-reverse , column column-reverse

- inline-flex
- grid
- list-item
- table
- table-cell

- visibile và opacity vẫn còn không gian, display none thì k


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  display: inline;
}

.title:hover {
  /* display: none; */
  visibility: hidden;
}

.links {
  font-size: 0;
}

.link {
  height: 100px;
  background: green;
  color: #fff;
  display: inline-block;
  font-size: initial;
}

.products {
  margin: 100px auto;
  width: 800px;
  height: 400px;
  border: 1px solid green;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  /* justify-content: space-evenly; */
  flex-direction: column-reverse;
}
.products .item {
  padding: 10px;
  /* margin: 10px; */
  background: green;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
}
