/* common */
html {
  font-size: 62.5%;
  font-family: "Rajdhani", sans-serif;
  /* font h1 */
  /* font-family: "Titillium Web", sans-serif; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  outline: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1300px;
  }
}

/* LANDING */
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../image/landing-background.jpg) no-repeat 0;

  width: 100vw;
  background-size: cover;
  gap: 80px;
}

/* LANDING DECO */
.landing-deco {
  display: none;
}

/* LANDING INFO */
.landing-info {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGO */
.logo {
  display: flex;
  justify-content: center;
}

.logo svg {
  width: 70px;
  height: 70px;
  fill: #fff;
}

/* LANDiNG INFO PRETITLE */
.landing-info__pretitle,
.landing-info__title,
.landing-info__text {
  color: #fff;
  text-align: center;
}

.landing-info__pretitle {
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;

  margin-top: 30px;
}

/* landing info title */
.landing-info__title {
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;

  font-size: 6rem;
  font-weight: 900;
  margin-top: -20px;
}

@media screen and (min-width: 500px) {
  .landing-info__title {
    font-size: 10.4rem;
    margin-top: -30px;
  }
}

/* landing info text */
.landing-info__text {
  display: none;
}

@media screen and (min-width: 1366px) {
  .landing-info__text {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.4;

    width: 56%;
  }
}

/* tab switch */
.tab-switch {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .tab-switch {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .tab-switch {
    width: 360px;
  }
}

.tab-switch-btn {
  width: 50%;
  height: 54px;
  border: 1px solid #fff;
  margin-top: 20px;

  font-size: 1.9rem;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  color: #fff;

  cursor: pointer;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media screen and (min-width: 600px) {
  .tab-switch-btn {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1400px) {
  .tab-switch-btn {
    margin-top: 40px;
  }
}

.tab-switch-btn:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.tab-switch-btn:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#login:checked ~ .tab-switch .login-btn,
#register:checked ~ .tab-switch .register-btn {
  color: #3e3f5e;
  background-color: #fff;
  cursor: auto;
}

/* LANDING FORM */
.landing-form {
  width: 100%;
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
}

.login-form,
.register-form {
  position: relative;
  opacity: 1;
  z-index: 2;

  transition: transform 0.3s ease-in-out;
}

.register-form {
  /* display: none; */
}

#register:checked ~ .landing-form .login-form,
#login:checked ~ .landing-form .register-form {
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  position: absolute;
  left: 0px;
  transition: all 0.6s ease-in-out 0s;
}

#register:checked ~ .landing-form .login-form,
#login:checked ~ .landing-form .register-form {
  opacity: 1;
  display: none;
  left: auto;
  transition: none;
}

/* LOGIN FORM */

.form-box {
  width: 100%;
  padding: 40px 32px;
  border-radius: 12px;
  margin-top: 60px;
  background-color: #fff;

  box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
}

@media screen and (min-width: 500px) {
  .form-box {
    padding: 64px;
  }
}

@media screen and (min-width: 600px) {
  .form-box {
    width: 484px;
  }
}

.form-box img {
  display: none;
}

@media screen and (min-width: 1400px) {
  .form-box img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    translate: -50% -50%;
  }
}

.form-box__title {
  text-align: center;
  font-weight: 700;
  font-size: 2.8rem;
  margin-top: -12px;

  color: #3e3f5e;
}

@media screen and (min-width: 500px) {
  .form-box__title {
    font-size: 2.6rem;
  }
}

.form {
  width: 100%;

  margin-top: 58px;
}

.form-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form-row + .form-row {
  margin-top: 26px;
}

.form-item {
  width: 100%;
}

.form-input {
  position: relative;
}

.form-input label {
  position: absolute;
  top: 20px;
  left: 20px;

  color: #adafca;
  font-size: 1.5rem;
  font-weight: 600;

  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.form-input input:focus + label {
  background-color: #fff;
  padding: 0 6px;
  font-size: 1.2rem;
  top: -8px;
  left: 12px;
}

.form-input input:focus {
  border-color: #7f7bf8;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 56px;
  padding: 0 18px;

  background-color: #fff;
  border: 1px solid #dedeea;
  color: #3e3f5e;

  width: 100%;
  border-radius: 12px;
  font-weight: 700;
  /* transition: border-color 0.2s ease-in-out; */
}

.form-row.space-between {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-row.space-between .form-item {
  width: auto;
}

.checkbox-wrap {
  position: relative;
}

.checkbox-wrap input {
  display: none;
}

.checkbox-wrap input[type="checkbox"]:checked + .checkbox-box {
  background-color: #23d2e2;
  border-color: #23d2e2;
}

.checkbox-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 22px;
  height: 22px;
  border: 1px solid #dedede;
  border-radius: 6px;

  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

.checkbox-box svg {
  width: 12px;
  height: 12px;
  fill: #fff;
}

.checkbox-wrap label {
  margin-left: 32px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 24px;

  color: #3e3f5e;

  cursor: pointer;
}

.checkbox-wrap .label {
  margin-left: 34px;
}

.form-link {
  color: #adafca;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 24px;
}

.button {
  width: 100%;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  border-radius: 10px;
  font-size: 1.4rem;

  background-color: #615dfa;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border: none;
  margin-top: -14px;
}

.line-text {
  margin-top: 48px;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;

  text-align: center;
  color: #3e3f5e;
}

.social-links {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 14px;
  border-radius: 10px;
}

.social-link + .social-link {
  margin-left: 12px;
}

.social-link.facebook {
  background-color: #3763d2;
}

.social-link.twitter {
  background-color: #1abcff;
}

.social-link.twitch {
  background-color: #7b5dfa;
}

.social-link.youtube {
  background-color: #fd434f;
}

svg {
  fill: #fff;
  width: 12px;
  height: 12px;
}

/* REGISTER FORM */

.register-form .form-box__title {
  margin-top: -30px;
}

.register-form .button {
  background-color: #23d2e2;
}

.form-text {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #3e3f5e;
  line-height: 1.6;
}

.form-text a {
  color: #00c7d9;
  font-weight: 600;
}
