/* common */
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

/* service */
.service {
  width: 1150px;
  height: 510px;
  margin: 50px auto;
  border-radius: 4px;
  border: 1px solid #000;
}

/* heading */
.service__heading {
  text-align: center;
  margin-top: 30px;
  font-size: 2.8rem;
}

/* service desc */
.service__desc {
  font-size: 1.4rem;
  text-align: center;
  margin-top: -16px;
}

/* service body */
.body {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 66px;
}

/* body wrap */
.body__wrap {
  display: inline-block;
  width: 292px;
  height: 336px;
  border: 1px solid #fff;
  text-align: center;
  box-shadow: 0px 0px 4px 2px #a8a6a6;
}

/* icon */
.body__icon--wrap {
  display: inline-block;
  border: 2px solid #f2a83a;
  width: 102px;
  height: 102px;
  margin-top: 24px;
  border-radius: 50%;
}

.body__icon {
  display: inline-block;
  margin-top: 28px;
  font-size: 40px;
  color: #f2a83a;
}

/* body name */
.body__heading {
  margin-top: 30px;
  font-size: 2.4rem;
}

/* body desc */
.body__desc {
  display: inline-block;
  font-size: 1.2rem;
  width: 85%;
  text-align: center;
  margin-top: -4px;
  color: #696563;
  line-height: 1.4;
}

/* body btn */
.body__btn {
  display: inline-block;

  color: #fff;
  background-color: #f2a83a;

  font-size: 1.4rem;
  margin-top: 30px;
  padding: 12px 22px;
  border-radius: 2px;
}
